<% content_for :main do %>
<h2>Editing snippet</h2>
<div id="snippet_edit">
<%= form_for(@snippet) do |f| %>
  <%= errors_for(@snippet) %>
  <div class="row">
    <%= f.label :title,"Title:" %>
    <%= f.text_field :title ,:class => "text"%>
		<div  style="float: right;">
			<%= f.label :language, "Language:" %>
			<% languages_array = Language.all.map { |l| [l.name, l.id] } %>
			<%= f.select(:language_id,languages_array) %>
			<% if @current_user %>
			<%= f.check_box :private %>
			<%= f.label :private, (image_tag("icons/private.gif",:alt => "Private")) %>
			<% end %>
		</div>
  </div>
  <div class="row">
    <%= f.label :code,"Source code:" %><br />
		<%= f.text_area :code, :class => "pastebox" %>
  </div>
  <div class="row">
    <%= f.label :desc, "Description:" %><br />
    <%= f.text_area :desc, :class => "desc" %>
		<samp class="hint">Descrption of your code, maximum limit 2000.</samp>
  </div>
	<div class="row">
		<%= f.label :tags, "Tags:" %><br />
		<%= text_field_tag("snippet[tag_list]",@snippet.tags.join(","),:class => "text long") %><br />
		<samp class="hint">Split with comma between Tag, for example: mysql,linux,performance,cache</samp>
	</div>

  <div class="submit">
    <%= f.submit 'Save', :class => "submit" %> or
		<%= link_to 'Back', snippets_path %>
  </div>
<% end %>
</div>
<% end %>
