<% content_for :main do %>
<h2>Listing languages</h2>
<div id="languages">
	<%= notice_message %>
<table class="grid">
  <tr class="head">
    <td>Name</td>
		<td>slug</td>
		<td>Snippets count</td>
		<td></td>
  </tr>	
<% @languages.each do |language| %>
  <tr>
    <td><%=h language.name %></td>
		<td><%= h language.slug %></td>
		<td><%= language.snippets_count %></td>		
    <td><%= link_to 'Edit', edit_language_path(language) %></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
<% content_for :right do %>
	<%= link_to 'New language', new_language_path %>
<% end %>