<% content_for :main do %>
<%= notice_message %>
<h2>Login</h2>
<div id="signin">
	<% form_for @user,:url => "login" do |f| -%>
		<% if flash[:errors] %>
		<div class="errorExplanation">
			<%=h flash[:errors] %>
		</div>
		<% end %>
		<p>
			<%= f.label :email, "Email or Username:" %><br />
			<%= f.text_field :email,:class => 'text' %>	
		</p>
		<p>
			<%= f.label :passwd, "Password:" %><br />
			<%= f.password_field :passwd,:class => 'text' %>	
		</p>
		<p>		  
		  <%= captcha_hidden_text %>
		  <%= captcha_input_text("Captcha:<br />") %>		  
		</p>
		<p>
		  <%= captcha_image %> 
		</p>
		<div class="submit">
			<%= f.submit "Login", :disable_with => 'Submitting...', :class => 'button submit' %> or <%= link_to "Register", :controller => "home", :action => "register" %>
		</div>
	<% end %>
</div>
<% end %>
	