<%= content_for :main do %>
<div class="form" id="modify_password">
  <%= form_for(@current_user,:url => "") do |f| %>
    <%= notice_message %>
		<%= render 'shared/error_messages', :target => @current_user %>
		<p>
			<label for="old_passwd">Old password:</label><br />
			<%= password_field_tag :old_passwd, params[:old_passwd], :class => "text" %>
		</p>
		<p>
			<label for="new_passwd">New password:</label><br />
			<%= password_field_tag :new_passwd, params[:new_passwd], :class => "text" %>
		</p>
		<p>
			<label for="confirm_passwd">Confirm password:</label><br />
			<%= password_field_tag :confirm_passwd, params[:confirm_passwd], :class => "text" %>
		</p>
		<p class="submit">
			<%= f.submit("Submit")  %> 
		</p>
  <% end %>
</div>
<% end %>
<%= content_for :right do %>
	<ul class="submenu">
		<li><%= link_to "Settings", :controller => "home", :action => "settings" %></li>
		<li><%= link_to "Modify password", :controller => "home", :action => "password" %></li>
	</ul>
<% end %>